// Place all the styles related to the Api::Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.channel-list {
    padding: 4px;
}
.channel-list li{
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight: lighter;
    padding: 7px;
}

.channel-list li:hover {
    background: #a9dbb9;
    transition: 0.2s;
    cursor: pointer;
}
.active-channel, li.active-channel:hover {
    background: #B7E4C7;

}

.channel-header p {
    font-family: 'VT323', monospace;
    font-size: 18px;
    font-weight: lighter;
    padding: 7px;
    margin-left: 10px;
}

.text-channels-header {
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight: normal;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.create-channel-container {
    background: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.create-channel-modal {
    position: fixed;
    
    // left: 30%;
    background: #B7E4C7;
    width: 400px;
    height: 420px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.create-channel-modal h2 {
    font-size: 32px;
    font-family: 'VT323', monospace;
    font-weight: normal;
}

.create-channel-buttons {
    padding: 10px;
}



