// Place all the styles related to the Api::Servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.server-bar {
    background: #40916C;
    height: 100%;
    width: 72px;
    display: flex;
    // flex-direction: column;
   
    // overflow-y: auto;
}
.server-title {
    border-bottom: 2px solid #74C69D;
    font-family: 'VT323', monospace;
    font-size: 32px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.server-list {
    font-family: 'VT323', monospace;
    font-size: 32px;
    font-weight: normal;
    padding: 5px;
    display: flex;
    flex-direction: column;
    // justify-content: spa;
    overflow-y: auto;
    width: 72px;
}

.server-item, .server-create {
    background: #D8F3DC;
    // padding: 3px;
    margin: 7px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    // text-align: center;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.server-item:hover, .server-create:hover {
    cursor: pointer;
    transition: 0.2s;
    border-radius: 25%;
    border: 2px solid #2D6A4F;

}

.server-create {
    color: green
}

.active-server.server-item, .active-server.server-create {
    border: 4px solid #2D6A4F;
    border-radius: 25%;
}

.server-settings {
    color: #3a5311;
    // transition: 0.2s;
}

.server-settings:hover {
    cursor: pointer;
    // transition: 0.2s;
}

.server-explore {
   transform: scale(1.5);
}

.server.title.header {
    text-overflow: ellipsis;
}

.random-servers-container {
    display: grid;
    gap: 5%;
    padding: 10px;
    grid-template-columns: auto auto auto;
}

.random-server-item {
    background-color: #74C69D;
    border-radius: 5%;
    height: 215px;
    width: 215px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-weight: normal;
    letter-spacing: -0.5px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.random-server-item > p {
    font-size: 24px;
    letter-spacing: -1.5px;
    // transition: 0.3s;
}

.random-server-item:hover, .joined.random-server-item:hover {
    transition: 0.2s;
    cursor: pointer;
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px black;
}

.joined.random-server-item:hover {
    transition: 0.2s;
    background-color: #40916C;
}

.server-settings + .leave-word {
    display: none 
}

.server-settings:hover + .leave-word {
    display: block;
    font-size: 18px;
    color: #D8F3DC;
    background: #2D6A4F;
    position: absolute;
    transform: translate(475%, 10%);
    padding: 2px;
    border-radius: 4px ;
    font-family: 'VT323', monospace;
}

.server-settings:hover + .leave-word.logout {
    transform: translate(375%, 10%);
}


