// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar {
    display:flex;
    background: #95D5B2;
}

.channel-bar {
    background: #95D5B2;
    // overflow: auto;
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: space-between;
}

.user-ops {
    background: #52B788;
    margin-top: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-ops h3, .users-list h3 {
    font-family: 'VT323', monospace;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: left;
}

.home {
    display: flex;
    height: 100vh;
}

.home-content {
    display: flex;
    width: 80vw;
    height: 100vh;
    flex-direction: column;

}

.chatbox-outer {
    display: flex;
    height: 100%;
    overflow: hidden;
    background: #B7E4C7 ;
   
}



.users-list li{
    font-family: 'VT323', monospace;
    font-size: 18px;
    font-weight: lighter;
    padding: 7px;
}

.users-list li:hover{
    background: #B7E4C7;
    border-radius: 4px;
    margin: 3px;
    cursor: pointer;
}

.owner-crown {
    width: 18px;
    height: 18px;
}

.owner {
    display: flex;
    justify-content: space-between;
}

.users-list {
    width: 200px;
    text-align: left;
    padding: 10px;
}

.user-prof {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-prof > .material-icons {
    font-size: 32px;
}

.user-prof > h3 {
    line-height: 100%;
}