// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar {
    display:flex;
    background: #95D5B2;
}

.channel-bar {
    background: #95D5B2;
    // overflow: auto;
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: space-between;
}

.user-ops {
    background: #52B788;
    margin-top: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-ops h3, .users-list h3 {
    font-family: 'VT323', monospace;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
}

.home {
    display: flex;
    height: 100vh;
}

.home-content {
    display: flex;
    width: 80vw;
    flex-direction: column;
}

.chatbox-outer {
    display: flex;
    height: 100%;
}

.server-title {
    border-bottom: 2px solid #74C69D;
    font-family: 'VT323', monospace;
    font-size: 32px;
    padding: 10px;
}

.users-list li{
    font-family: 'VT323', monospace;
    font-size: 18px;
    font-weight: lighter;
    padding: 7px;
}

.server-bar {
    background: #40916C;
    height: 100%;
    width: 72px;
    flex-direction: column;
    padding-top: 12px;
}
