// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-family: 'VT323', monospace;
    font-size: 96px;
    font-weight: lighter;
    letter-spacing: -1.5px;
    text-align: center;
}

h2 {
    font-family: 'VT323', monospace;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: -0.5px;
}

h3 {
    font-family: 'VT323', monospace;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: center;
    padding: 10px;
}
body {
    background-image: url("https://vectorgrove.com/images/banner.jpg");
    width: 100%;
    height: 100%;
    background-size: calc(1200px + 60vw);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.splash-screen {
    width: 600px;
    margin: 0 auto;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px;
    // padding-bottom: 10px;
}

.splash-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-options li {
    font-family: 'VT323', monospace;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    width: 100px;
    text-align: center;
    background: #669999;
    border: 2px solid black;
    margin-bottom: 10px;
    box-shadow: 1px 2px;
}

a {
    text-decoration: none;
}

.reference-links {
    padding-top: 20px;
    font-family: 'VT323', monospace;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: center;
}

.sessionForm {
    width: 600px;
    margin: 0 auto;
    background-color: gray;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    box-shadow: 5px 10px;
    font-family: 'VT323', monospace;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    // width: 100px;
    text-align: center;

    padding-bottom: 30px;
}

.button {
    margin-top: 20px;
    font-family: 'VT323', monospace;
    font-size: 18px;
    letter-spacing: 1.25px;
    font-weight: medium;

    background-color: #669999;
}

.alt-link {
    margin-top: 30px;
}

input[type=text],input[type=password] {
    // width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    // border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 4px;
  }